//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 15 02:34:06 2019
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "T22" LEVEL 1;
COMP "led<1>" LOCATE = SITE "T21" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U22" LEVEL 1;
COMP "abutton" LOCATE = SITE "F22" LEVEL 1;
PIN abutton_pin<0> = BEL "abutton" PINNAME PAD;
PIN "abutton_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "clk" LOCATE = SITE "Y9" LEVEL 1;
COMP "led<3>" LOCATE = SITE "U21" LEVEL 1;
COMP "led<4>" LOCATE = SITE "V22" LEVEL 1;
COMP "led<5>" LOCATE = SITE "W22" LEVEL 1;
COMP "led<6>" LOCATE = SITE "U19" LEVEL 1;
COMP "led<7>" LOCATE = SITE "U14" LEVEL 1;
COMP "RxD" LOCATE = SITE "AA11" LEVEL 1;
COMP "TxD" LOCATE = SITE "Y11" LEVEL 1;
COMP "bbutton" LOCATE = SITE "G22" LEVEL 1;
PIN bbutton_pin<0> = BEL "bbutton" PINNAME PAD;
PIN "bbutton_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "reset" LOCATE = SITE "M15" LEVEL 1;
PIN reset_pin<0> = BEL "reset" PINNAME PAD;
PIN "reset_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "txzero" LOCATE = SITE "H17" LEVEL 1;
PIN txzero_pin<0> = BEL "txzero" PINNAME PAD;
PIN "txzero_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "funct" LOCATE = SITE "H22" LEVEL 1;
PIN funct_pin<0> = BEL "funct" PINNAME PAD;
PIN "funct_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

